ul.techlist {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul.techlist li {
    color: red;
    background: #f8f8f8;
    /* border: 1px solid; */
    border: 1px solid #ddd;
    border-radius: 9px;
    padding: 7px 13px;
    margin-bottom: 10px;
}