<div class="container">
    <div class="my-3">
        <h2>Custom Observable</h2>
    </div>
    <br>
    <div class="row">
        <div class="col-md-6">
            <strong>Ex - 01 Manual</strong>
            <hr>
            <ul class="techlist " id="elcontainer">
                <li>cifvn</li>
            </ul>
        </div>
    </div>