<div class="container">
    <div class="my-3">
        <h2>Filter</h2>
    </div>
    <br>

    <div class="row">
        <div class="col-md-4">
            <strong>Ex - 01</strong>
            <hr>
            <p class="bg-light py-2 px-3 border rounded">
                <strong>Filter </strong>by length 
            </p>
            <br>
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Name</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor = "let item of data">
                    <th scope="row">{{item.id}} </th>
                    <td>{{item.name}} </td>
                  </tr>        
                </tbody>
            </table>
        </div>
        <div class="col-md-4">
            <strong>Ex - 02</strong>
            <hr>
            <p class="bg-light py-2 px-3 border rounded">
                <strong>Filter </strong>by gender 
            </p>
            <br>
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Name</th>
                    <th scope="col">Gender</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor = "let item of data2">
                    <th scope="row">{{item.id}} </th>
                    <td>{{item.name}} </td>
                    <td>{{item.gender}} </td>
                  </tr>        
                </tbody>
            </table>
        </div>
        <div class="col-md-4">
            <strong>Ex - 03</strong>
            <hr>
            <p class="bg-light py-2 px-3 border rounded">
                <strong>Filter </strong>by nth Item 
            </p>
            <br>
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Name</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor = "let item of data3">
                    <th scope="row">{{item.id}} </th>
                    <td>{{item.name}} </td>
                    <td>{{item.gender}} </td>

                  </tr>        
                </tbody>
            </table>
        </div>

    </div>
</div>