ul.list {
    list-style-type: none;
    display: flex;
    padding-inline-start: 0px;
    flex-wrap: wrap;
    margin-top: 50px;
}
ul.list li:hover {
    background-color: #bbe4e4;
    border: 1px solid #669677;
}
.list li {
    border: 1px solid #d7d7d7;
    padding: 25px 25px;
    border-radius: 9px;
    background: #f3f3f3;
    width: 23%;
    margin-bottom: 16px;
    text-align: center;
    margin-left: 18px;
}
.list li:hover a {
    color: #669677!important;
}
.list li a {
    text-decoration: none;
    color: rgb(79, 206, 128);
}
