<div class="container">
    <div class="row">
        <div class="col-md-12">
            <ul class="list">
                <li>
                    <a routerLink="fromEvent">fromevent</a>
                </li>
                <li>
                    <a routerLink='interval'>Interval</a>
                </li>
                <li>
                    <a routerLink='of-from'>ofFrom</a>
                </li>
                <li>
                    <a routerLink='to-array'>toArray</a>
                </li>
                <li>
                    <a routerLink='custom'>Custom Observable</a>
                </li>
                <li>
                    <a routerLink='map'>Map Operator</a>
                </li>
                <li>
                    <a routerLink='pluck'>Pluck</a>
                </li>
                <li>
                    <a routerLink='filter'>Filter</a>
                </li>


            </ul>
        </div>
    </div>
</div>
<router-outlet></router-outlet>