<div class="container">
    <div class="my-3">
        <h2>Interval</h2>
    </div>
    <br>
    {{obsMsg}}
    <br>
    <br>
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">User1</div>
                <div class="card-body">
                    <ul id='elContainer'> </ul>
                </div>
            </div>
            
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">User2</div>
                <div class="card-body">
                    <ul id='elContainer2'> </ul>
                </div>
            </div>
            
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">User3</div>
                <div class="card-body">
                    <ul id='elContainer3'> </ul>
                </div>
            </div>
            
        </div>

    </div>
</div>