<div class="container">
    <div class="my-3">
        <h2>Pluck</h2>
    </div>
    <br>

    <div class="row">
        <div class="col-md-6">
            <strong>Ex - 01</strong>
            <hr>
            <p class="bg-light py-2 px-3 border rounded">
                <strong>Pluck</strong>by property 
            </p>
            <br>
            <table class="table">
                <tr>
                    <th>Name</th>
                </tr>
                <tr *ngFor='let item of data'>
                    <td>{{item}}</td>
                </tr>
            </table>
        </div>
        <div class="col-md-6">
            <strong>Ex - 02</strong>
            <hr>
            <p class="bg-light py-2 px-3 border rounded">
                <strong>Pluck</strong>Nested property
            </p>
            <br>
            <table class="table">
                <tr>
                    <th>Name</th>
                </tr>
                <tr *ngFor='let item of data'>
                    <td>{{item}}</td>
                </tr>
            </table>
        </div>
        <div class="col-md-12">
            <strong>Ex - 03</strong>
            <hr>
            <p class="bg-light py-2 px-3 border rounded">
                <strong>Map</strong>Map Data
            </p>
            <br>
            <p>Data coming here</p>
        </div>
    </div>
</div>