<div class="container">
    <div class="my-3">
        <h2>Of and From</h2>
    </div>
    <br>
    <strong>Ex -01(Of)</strong>
    <hr>

    <div class="row">
        <div class="col-md-6">
            <p class="bg-light py-2 px-3 border rounded">
                <strong>Data : </strong>of('Anup','Shekher','Sharma')
            </p>
            <hr>
            <ul id='elComponent'></ul>
        </div>
        <div class="col-md-6">
            <p class="bg-light py-2 px-3 border rounded">
                <strong>Data : </strong>of(&#123;a:'Anup',b:'Shekher',c:'Sharma'&#125;)
            </p>
            <hr>
            <ul>
                <li><strong>{{obsMsg.a}}</strong></li>
                <li><strong>{{obsMsg.b}}</strong></li>
                <li><strong>{{obsMsg.c}}</strong></li>

            </ul>
        </div>

    </div>
    <br>
    <strong>Ex -02(From)</strong>
    <div class="row">
        <div class="col-md-4">
            <strong>Array</strong>
            <hr>
            <p class="bg-light py-2 px-3 border rounded">
                <strong>Data : </strong>from(['UxTrendz','John','Alex'])
            </p>
            <hr>
            <ul id='elComponent3'></ul>
        </div>
        <div class="col-md-4">
            <strong>Promise</strong>
            <hr>
            <p class="bg-light py-2 px-3 border rounded">
                <strong>Data : </strong>promise to observable
            </p>
            <hr>
            <ul id='elComponent4'></ul>
        </div>
        <div class="col-md-4">
            <strong>String</strong>
            <hr>
            <p class="bg-light py-2 px-3 border rounded">
                <strong>Data : </strong>string to observable
            </p>
            <hr>
            <ul id='elComponent5'></ul>
        </div>

    </div>
