<div class="container">
    <div class="my-3">
        <h2>Map</h2>
    </div>
    <br>

    <div class="row">
        <div class="col-md-4">
            <strong>Ex - 01</strong>
            <hr>
            <p class="bg-light py-2 px-3 border rounded">
                <strong>Map</strong>data => Video+data
            </p>
            <br>
            <p>Message =><strong class="text-success">{{msg1}}</strong> </p>
        </div>
        <div class="col-md-4">
            <strong>Ex - 03</strong>
            <hr>
            <p class="bg-light py-2 px-3 border rounded">
                <strong>Map</strong>Map Data
            </p>
            <br>
            <p>Data coming here</p>
        </div>
        <div class="col-md-4">
            <strong>Ex - 02</strong>
            <hr>
            <p class="bg-light py-2 px-3 border rounded">
                <strong>Map</strong>Map Data
            </p>
            <br>
            <p>Data coming here</p>
        </div>
    </div>
</div>